  TYPE: "service_account",
  PROJECT_ID: "events-reminders-483021",
  PRIVATE_KEY_ID: "your_private_key_id",
  PRIVATE_KEY: "your_private_key",
  CLIENT_EMAIL: "your_client_email",
  CLIENT_ID: "your_client_id",
  AUTH_URI: "https://accounts.google.com/o/oauth2/auth",
  TOKEN_URI: "https://oauth2.googleapis.com/token",
  AUTH_PROVIDER_X509_CERT_URL: "https://www.googleapis.com/oauth2/v1/certs",
  CLIENT_X509_CERT_URL: "https://www.googleapis.com/robot/v1/metadata/x509/platform-calendar-bot%40events-reminders-483021.iam.gserviceaccount.com",
  UNIVERSE_DOMAIN: "googleapis.com"